body {
	background-color: #dbdbdb;
	font-family: Verdana,Arial;
}

.tundra .maincontent .dijitGutterV {
	background-image: url(images/bg_GutterV.gif);
	width:2px;
}

.tundra .maincontent .dijitGutterH {
	background-color: #dbdbdb;
}

#overlay { 
	text-align:center;
	padding-top: 40px;
	background:#fff; width:100%; height:100%; 
    color: #f30808;
	z-index:200;
	position:absolute; top:0; left:0; 
}


/*
 * Main OSM Map
 */
#map {
	background-color: #dbdbdb;	
}

#borderContainer {
	width: 100%;
	height: 100%;
	background-color: #dbdbdb;
	padding:0px;
	margin:0px;
}

/*
 * Mainmenu On Left Side
 */
#mainmenu {
	background-color: #23dfc7;
	overflow:hidden;
	background-image: url(images/bg_mainmenu.gif);
	background-repeat: repeat-x;
	padding: 10px 4px 10px 8px;
	width:220px;
	border:none;
	margin:0px;
}

/*
#mainmenu img{
	margin:4px 14px 4px 8px;
	display:block;
}
*/

#filemanager {
	visibility:hidden;
	position:absolute;
	left: 100px;
	top: 40px;
	width: 640px;
	height: 480px;
	background-color: #115a88;
}

.tundra .maincontent .dijitDialog .dijitDialogPaneContent {
	background: #115a88 url(images/button_enabled.png) top repeat-x;
	max-height: 400px;
	overflow:auto;
}

/*
 * div on top
 */
.tundra .maincontent .topmenu {
	color:#005506;
	background-color:#e3dfc7;
	background-image: url(images/bg_topmenu.gif);
	background-repeat: repeat-y;
	border-bottom:solid 1px #8e8e8e;
	padding:0px;
}

/*
 * Tree
 */
#treecontainer {
	/*border:solid 1px #cacdd4;	*/
	border-top: solid 1px #a9b4ea;
	padding:4px 10px 4px 0px;
	overflow:auto;
	max-height:300px;
	/*background-color:#c6c6e1;*/
}

.nodespan {
	color:#9ab3e1;
	padding-left:10px;
	padding-bottom:5px;
	display:block;			
	border:solid 1px black;
	clear:both;
}

.rootnodespan {
	color:#9ab3e1;
	padding-left:2px;
	padding-bottom:5px;
	padding-top:0px;
	display:block;			
	border:solid 1px Red;
	clear:both;
}

.tree_entry {
	border: solid 1px green;
	vertical-align:middle;
}

.tree_entry img {
	
}

.tree_entry a {
	vertical-align:middle;
}

.nodespan .visibletrace {
	color:#e80a0a;
}


.nodespan img, .rootnodespan img {
	/*float:left;*/
	padding:0px;
	margin: 0px;
}

.nodespan .selected,  .rootnodespan .selected{
	color: #f0fdcb;
	background: #115a88 url(images/button_enabled.png) top repeat-x;
	padding:3px;
}

.nodespan a, .rootnodespan a{
	font-size:12px;
	color:#000000;
	cursor:pointer;
}

/*
 * Custom Dojo Button Styles
 */

.custombutton1 {
	font-family: Verdana,Arial;
	font-size:12px;
	padding-left:10px;
}

.custombutton1 .dijitButtonText {
	padding: 0px;
	margin:0px;
	color: #f0fdcb;
	border-color:Yellow;
}

.custombutton1 .dijitDisabled .dijitButtonText {
	color: #b3b3b3;
}

.tundra .custombutton1 .dijitButtonNode {
	border-color: #b9d8ec;
	border-bottom-color:#5c7590; 
	background: #115a88 url(images/button_enabled.png) top repeat-x;
	padding: 2px;
	margin: 0px;
	width: 160px;
}

.tundra .custombutton1 .dijitButtonActive {
	background: #115a88 url(images/button_enabled.png) top repeat-x;
}

.tundra .custombutton1 .dijitButtonNode button { 
	border: 0px; 
	background-color: transparent; 
	padding: 0px;
	margin: 0px;
} 

.tundra .custombutton1 .dijitButtonHover .dijitButtonNode {
	background: #7dc35f;
	background:#614cc9 url(images/button_focused.png) top repeat-x;
}

/*
 * Custom Dojo Button Styles
 */
.topmenu .dijitButtonText {
	padding: 0px;
	margin:0px;
	color: #362cf1; /*#f0fdcb;*/
	border:none;
	text-decoration:underline;
	cursor: pointer;
}

.topmenu .dijitDisabled .dijitButtonText {
	color: #000000;
}

.tundra .topmenu .dijitButtonNode {
	border:none;
	cursor: pointer;			
	background: #a7a088;
	padding: 2px;
	margin: 0px;
	width: 140px;
}

.tundra .topmenu .dijitButtonActive {
	background: #a7a088;
}

.tundra .topmenu .dijitButtonNode button { 
	border: 0px; 
	background-color: transparent; 
	padding: 0px;
	margin: 0px;
	cursor: pointer;
} 

.tundra .topmenu .dijitButtonHover .dijitButtonNode button {
  color:green;
}

.tundra .topmenu .dijitButtonHover .dijitButtonNode  {
	background: #b5af9a;
	color: #fdd13a;
	cursor: pointer;
}






