body {
	background-color: #dbdbdb;
	font-family: Verdana,Arial;
}

.tundra .maincontent .dijitGutterV {
	/*background-image: url(images/bg_GutterV.gif);*/
	background-color: #285d74;
	width:2px;
}

.tundra .maincontent .dijitGutterH {
	background-color: #BFDD7D;
}

#overlay { 
	text-align:center;
	padding-top: 40px;
	background:#fff; width:100%; height:100%; 
    color: #f30808;
	z-index:200;
	position:absolute; top:0; left:0; 
}


/*
 * Main OSM Map
 */
#map {
	background-color: #dbdbdb;	
}

#borderContainer {
	width: 100%;
	height: 100%;
	background-color: #dbdbdb;
	padding:0px;
	margin:0px;
}

/* mainmenu on left side */
#mainmenu {
	overflow:hidden;
	/*background-image: url(images/bg_mainmenu.gif);*/
	background-color: #BFDD7D;
	background-repeat: repeat-x;
	padding: 10px 4px 10px 8px;
	width:220px;
	border:none;
	margin:0px;
}

#mainmenu_content {
	width: 210px;
	height: 400px;
	padding-top: 10px;
	background-color: #6394a9; 
	border: solid 1px #285d74;
	overflow:auto;
}


/* loading div */
.loading_hidden {
	position:absolute;
	display:none;
}

.loading_visible {
	visibility:visible;
	/*display:block;*/
	
	position:absolute;
	top: 50%;
  	left: 50%; 
  	color:#ffffff;
  	text-align:center;
  	background-color: #c5c8cf;
	width:200px;
	padding: 2px 0px 2px 0px;
	border: solid 1px #000000;
	filter:alpha(opacity=80); opacity:.80;
}

/* dnd source div */
.dnd_source_hidden {
	visibility:hidden;
	display:none;
	position: absolute;	
}

.dnd_source_visible {
	visibility: visible;
	/*display:block;*/
	position: absolute;
	z-index:1010;
	color:#000000;
	background-color:#ffffff;
	padding: 4px;
}

.dnd_source_visible img {
	
}


.tundra .maincontent .dijitDialog .dijitDialogPaneContent {
	background: #115a88 url(images/button_enabled.png) top repeat-x;
	max-height: 400px;
	overflow:auto;
}

/*
 * div on top
 */
.tundra .maincontent .topmenu {
	color:#005506;
	/*background-color:#add15c;*/
	background-image: url(images/bg_topmenu.gif);
	background-repeat: repeat-y;
	/*border-bottom:solid 1px #DFF5AD;*/
	border:none;
	padding:0px;
}


/* ########################################################################
   #
   # Custom Dojo Button Styles
   #
   ######################################################################## */

.custombutton1 {
	font-family: Verdana,Arial;
	font-size:12px;
	padding-left:10px;
}

.custombutton1 .dijitButtonText {
	padding: 0px;
	margin:0px;
	color: #ffffff;
}

.custombutton1 .dijitDisabled .dijitButtonText {
	color: #b3b3b3;
}

.tundra .custombutton1 .dijitButtonNode {
	border-color: #283c45;
	border-bottom-color:#283c45; 
	background: #275c73 url(images/button_enabled.png) top repeat-x;
	/* background-color: #9D66AF;*/
	padding: 2px;
	margin: 0px;
	width: 160px;
}

.tundra .custombutton1 .dijitButtonActive {
	background: #6D7CB1 url(images/button_enabled.png) top repeat-x;
}

.tundra .custombutton1 .dijitButtonNode button { 
	border: 0px; 
	background-color: transparent; 
	padding: 0px;
	margin: 0px;
} 

.tundra .custombutton1 .dijitButtonHover .dijitButtonNode {
	/*background: #7dc35f;*/
	border-color: #283c45;
	background:#416a7b url(images/button_focused.png) top repeat-x;
}

/* ########################################################################
   #
   # Custom Dojo Button Styles
   #
   ######################################################################## */

.topmenu .dijitButtonText {
	padding: 0px;
	margin:0px;
	color: #362cf1; /*#f0fdcb;*/
	border:none;
	text-decoration:underline;
	cursor: pointer;
}

.topmenu .dijitDisabled .dijitButtonText {
	color: #000000;
}

.tundra .topmenu .dijitButtonNode {
	border:none;
	cursor: pointer;			
	background: #a7a088;
	padding: 2px;
	margin: 0px;
	width: 140px;
}

.tundra .topmenu .dijitButtonActive {
	background: #a7a088;
}

.tundra .topmenu .dijitButtonNode button { 
	border: 0px; 
	background-color: transparent; 
	padding: 0px;
	margin: 0px;
	cursor: pointer;
} 

.tundra .topmenu .dijitButtonHover .dijitButtonNode button {
  color:green;
}

.tundra .topmenu .dijitButtonHover .dijitButtonNode  {
	background: #b5af9a;
	color: #fdd13a;
	cursor: pointer;
}
